<h>Welcome to the Hypothetical School Website!</h1>
<p><%= link_to "Teacher sign in", logins_teacher_login_path %></p>
<p><%= link_to "Parent sign in", logins_parent_login_path %></p>
<p><%= link_to "Student sign in", logins_student_login_path %></p>
